.Dialogs {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: "a b";
}

.DialogItems {
    padding: 15px;
    grid-area: a;
}

.Messages {
    padding: 15px;
    grid-area: b;
}
