.Dialogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 80px);
}

.DialogItems {
  padding: 30px;
  grid-column: 1/3;
}

.Messages {
  padding: 15px;
  grid-column: 2/3;
  grid-row: 2/8;
}
